* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    font-family: "roboto", sans-serif;
}

body {


    /*background-color: #ffff00;
    /* background-image: url(11.png); */
    /*background: #cccccc url(11.png) no-repeat right top / cover;*/
    /*border: 10px solid #ff00ff;
    border-radius: 5px;*/
    
}

.primer {
    margin-left: 20px;
    margin: 25px;
    margin-bottom: 60px;
    margin-top: 50px;
    margin-right: 25px;
    padding-top: 50px ;
    padding: 25px;
    border: 10px solid #ff0000;
    width: 100px;
   }

.title-1 {
    margin-left: 20px;
}

.title-2 {
    margin:25px;
}

.title-3 {
    margin:50px 24px;
}

.title-4 {
    width: 200px;
    margin: auto;
}

.title-5 {
    padding-top: 30px;
}

.paragraph {
    padding:25px 50px
}